.auth {
  &--head {
    background-image: url("/img/lavender.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 150px 30px !important;
    margin: 0;
    position: relative;

    @media (min-width: 720px) and (max-width: 1024px) {
      padding: 70px 30px !important;
    }

    @media (max-width: 719px) {
      padding: 50px 20px !important;
      background-size: cover;
    }
  }

  &__header {
    margin: 0 0 15px 0;
    max-width: 600px;
    padding: 0;
    z-index: 100;

    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 1.3em;
    word-wrap: break-word;
    text-shadow: 1px 1px 1px black;

    @media (max-width: 719px) {
      font-size: 20px;
    }
  }

  &__header-second {
    margin: 0 0 10px 0;
    max-width: 400px;
    padding: 0;

    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-shadow: 1px 1px 1px black;

    @media (max-width: 719px) {
      font-size: 14px;
    }
  }

  &__link {
    display: block;
    width: 80%;
    margin: 10px auto;
    text-decoration: none;
    font-size: 16px;

    @media (max-width: 719px) {
      font-size: 14px;
    }
  }

  &__step-header {
    display: inline-block;
    margin: 15px auto 20px auto;
    width: 100%;

    text-align: center;

    @media (max-width: 719px) {
      font-size: 18px;
    }
  }

  &__container {
    padding: 15px 30px;

    @media (max-width: 720px) {
      padding: 15px;
    }
  }
}
