@import 'header';
@import 'main';
@import 'footer';
@import 'social';
@import 'links';

body {
  font: 14px "Roboto", "Tahoma", sans-serif;
  margin: 0;
}

body, html {
  height: 100%;
}

ol, ul {
  padding-left: 30px;
  list-style-type: none;
}

.wrapper {
  margin: 0 auto;
  max-width: 1500px;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
