.info {
  display: flex;
  flex-wrap: wrap;

  &__img-col {
    width: 50%;
    padding: 0 20px;

    @media (max-width: 1024px) {
      width: 100%;
      display: block;
    }

    @media (max-width: 720px) {
      padding: 0;
    }
  }

  &__text-col {
    width: 50%;
    padding: 0 20px;

    @media (max-width: 1024px) {
      width: 100%;
      display: block;
    }

    @media (max-width: 720px) {
      padding: 0;
    }
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__text-img {
    display: block;
    width: 60%;
    height: auto;
    margin: 20px auto 0 auto;

    @media (max-width: 719px) {
      width: 100%;
    }
  }

  &__text-desc,
  &__text-item {
    font-size: 20px;
    font-family: "Open Sans",sans-serif,sans,arial;
    font-weight: 300;
    color: #000;

    @media (max-width: 719px) {
      font-size: 12px;
    }
  }

  &__text-list {
    list-style-type: decimal;

    @media (max-width: 719px) {
      margin-left: 20px;
    }
  }

  &__text-item {
    margin-bottom: 20px;
  }

  &__my-links-item {
    display: block;
    width: 200px;
    margin-bottom: 20px;
    background-color: #d3ea87 !important;

    &:hover,
    &:focus {
      background-color: #deeab3 !important;
    }

    @media (max-width: 720px) {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  &__my-link {
    text-decoration: none;
    color: #000;
  }
}
