.links {
  display: inline-block;
  width: calc(100%/3);

  &__link-item {

  }

  &__link {
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;

    &:hover {
      color: #d3ea87;
    }

    &:active,
    &:focus {
      opacity: 0.4;
    }
  }
}
