.main {
  flex-grow: 2;

  &__header {
    margin: 0 0 15px 0;
    padding: 0;

    font-size: 36px;
    font-weight: 500;
    line-height: 1.3em;
    word-wrap: break-word;
  }

  &__header-second {
    margin: 0 0 10px 0;
    padding: 0;

    font-size: 18px;
    font-weight: 300;
    line-height: 1.6em;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  &__text {
    margin: 0;
    padding: 0;

    font-size: 18px;
    font-weight: 300;
    line-height: 1.6em;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  &__questions {
    font-size: 18px;
    line-height: 1.6em;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  &__questions-link {

  }

  &__auth-link {
    position: relative;
    display: block;
    max-width: 150px;
    text-align: center;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    user-select: none;
    padding: .8em 2em;
    margin: 10px 0;
    border-radius: 10px;
    outline: none;
    background-color: #000;
    background-image: linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%), radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    background-repeat: no-repeat;
    background-size: 200% 100%, auto;
    background-position: 200% 0, 0 0;
    box-shadow: rgba(0,0,0,.3) 0 2px 5px;

    &:active {
      top: 1px;
      box-shadow: none;
    }
    &:hover {
      transition: .5s linear;
      background-position: -200% 0, 0 0;
    }
  }
}
