.social {
  display: flex;
  width: calc(100%/3);

  &__link {
    background-size: 40px;
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  &__link--tg {
    background-image: url("/img/tg.svg");
  }

  &__link--insta {
    background-image: url("/img/insta.svg");
  }
}
